<!DOCTYPE html>
<html ng-app="racketRez">
<head>
  <title>GT Racket Rez</title>
  <link rel="stylesheet" type="text/css" href="javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="javascripts/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="javascripts/bower_components/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" type="text/css" href="javascripts/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">

  <script type="text/javascript" src="javascripts/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="javascripts/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="javascripts/bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="javascripts/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script type="text/javascript" src="javascripts/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src ="javascripts/angularApp.js"></script>
</head>
<body ng-controller="ReservationController as res">

<!-- navigation bar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRC Reservations</a>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">[username] <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <!-- reservation modal button -->
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reservationModal">
        New Reservation
      </button>
    </div>
  </div>

  <!-- reservation form modal -->
  <div class="modal fade" id="reservationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">New Reservation</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="datetime" class="col-sm-3 control-label">Date and time</label>
              <div class="col-sm-9">
                <div class="input-group date" id="datetime">
                  <input type="text" class="form-control" />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="court" class="col-sm-3 control-label">Court</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <select class="selectpicker" id="court">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="balls" class="col-sm-3 control-label">Guests</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <select class="selectpicker" id="balls">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="raquets" class="col-sm-3 control-label">Raquets</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <select class="selectpicker" id="raquets">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="balls" class="col-sm-3 control-label">Balls</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <select class="selectpicker" id="balls">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Reserve</button>
          </div>
          <script type="text/javascript">
            var today = moment();
            $('#datetime').datetimepicker({
              enabledDates: [
                moment(today),
                moment(today).add(1, 'days'),
                moment(today).add(2, 'days')
              ],
              minuteStepping: 15
            });
            $('.selectpicker').selectpicker();
          </script>
        </form>
      </div>
    </div>
  </div>

  <!-- calendar display -->
  <div class="row">
    <div class="col-md-12">
      <div id="calendar"></div>

      <script type="text/javascript">
        $(document).ready(function() {

          // hack to get the calendar to only display the next three days
          var hideDays = [];
          var diff = moment().diff(moment().startOf('week'),'days'); // difference between sunday and today
          for (var i = 0; i < 7; i++) {
            if (i < diff || i > diff + 2) {
              hideDays.push(i);
            }
          }
          $('#calendar').fullCalendar({
              defaultView: 'agendaWeek',
              allDaySlot: false,
              minTime: moment.duration("05:00:00"),
              maxTime: moment.duration("22:00:00"),
              slotDuration: moment.duration("00:15:00"),
              hiddenDays: hideDays,
              height: 'auto',
              header: false
          });

        });    
      </script>
    </div>
  </div>
</div>

</body>
</html>