<!DOCTYPE html>
<html ng-app="racketRez">
<head>
  <title>GT Racket Rez</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://eonasdan.github.io/bootstrap-datetimepicker/content/bootstrap-datetimepicker.css">

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="bower_components/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src ="angularApp.js"></script>
</head>
<body ng-controller="ReservationController as res">

<h2>CRC Rauqetball Reservations</h2>

<!-- datepicker -->
<h4>Make your reservation</h4>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

<!-- display user's reservations -->
<section ng-controller="PanelController as panel">
  <ul class="nav nav-pills">
    <li ng-class="{ active: panel.isSelected(1) }">
      <a href ng-click="panel.selectTab(1)">Court 1</a>
    </li>
    <li ng-class="{ active: panel.isSelected(2) }">
      <a href ng-click="panel.selectTab(2)">Court 2</a>
    </li>
    <li ng-class="{ active: panel.isSelected(3) }">
      <a href ng-click="panel.selectTab(3)">Court 3</a>
    </li>
    <li ng-class="{ active: panel.isSelected(4) }">
      <a href ng-click="panel.selectTab(4)">Court 4</a>
    </li>
    <li ng-class="{ active: panel.isSelected(5) }">
      <a href ng-click="panel.selectTab(5)">Court 5</a>
    </li>
  </ul>

  <div class="panel" ng-show="panel.isSelected(1)">
    <h3>Court 1</h3>
  </div>
  <div class="panel" ng-show="panel.isSelected(2)">
    <h3>Court 2</h3>
  </div>
  <div class="panel" ng-show="panel.isSelected(3)">
    <h3>Court 3</h3>
  </div>
  <div class="panel" ng-show="panel.isSelected(4)">
    <h3>Court 4</h3>
  </div>
  <div class="panel" ng-show="panel.isSelected(5)">
    <h3>Court 5</h3>
  </div>
  <div ng-repeat="reservation in res.reservations" ng-show="panel.isSelected(reservation.court)">
    <h3>Reserved Court {{reservation.court}} at {{reservation.time}}</h3>
    <p ng-show="reservation.guests" ng-repeat="guest in reservation.guests">
      {{guest}}
    </p>
  </div>
</section>

</body>
</html>